
body{
   background-image:url('https://cdn.wallpapersafari.com/32/88/Bgdo7i.jpg');
    margin-top: 4rem;
    margin: 4rem;
    margin-right: 4rem;
    background-color: black;
    
}

.titulo{
    margin: 5rem;
    color: rgb(255, 255, 255);
}
.buscar{
    background-color: black;
  
}
.main{
    margin-left: 5rem;
    margin-top: 3rem;
    margin-right: 9rem;
    margin: 3rem;
    
}

.botton{
    margin: 4rem;
    color:white;
     background-color: rgb(165, 133, 185) !important; 
}
