
body{
   background-image:url('https://cdn.wallpapersafari.com/32/88/Bgdo7i.jpg');
    margin-top: 4rem;
    margin: 4rem;
    margin-right: 4rem;
    background-color: black;
    
}

.titulo{
    margin: 5rem;
    color: rgb(255, 255, 255);
}

.main{
    margin-left: 5rem;
    margin-top: 3rem;
    margin-right: 9rem;
    margin: 3rem;
}

.botton{
    margin: 4rem;
    color:white;
     background-color: rgb(165, 133, 185) !important; 
}
#cards{
    /* display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 1rem; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
}
.imgs{
    display: flex;
    width: 300px;
    height: 300px;
    margin: auto;
}
.card{
    min-width: 18rem;
    /* height: 12rem; */
    border: 6px rgba(0, 0, 0, 0) groove;
}
.button-card{
    margin: 0;
}